### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
unique_player_count = purchase_data["SN"].nunique()
print(f"There are {unique_player_count} unique players in Pymoli!")

There are 576 unique players in Pymoli!

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
item_count = purchase_data['Item ID'].nunique()
num_purchases = purchase_data['Item ID'].count()
Avg_price = round(purchase_data["Price"].mean(), 2)
Total_revenue = purchase_data["Price"].sum()
Summary = pd.DataFrame({'Number of Unqiue Items': [item_count], 'Average Price': [Avg_price], 
      "Number of Purchases": [num_purchases], "Total Revenue": Total_revenue})
Summary.head()

   Number of Unqiue Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
players = purchase_data[['Gender','SN']].drop_duplicates(keep = "first")
gender_counts = players['Gender'].value_counts()
percentage = round(gender_counts / gender_counts.sum() * 100,2)
Genders = pd.concat([gender_counts,percentage ], axis = 1)
Genders.columns = ["Player Count", "Percentage of Playerbase"]
Genders

                       Player Count  Percentage of Playerbase
Male                            484                     84.03
Female                           81                     14.06
Other / Non-Disclosed            11                      1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
Summary_DF = {'Average Price': 0,"Number of Purchases": 0,
                            "Total Revenue": 0}
Summary_DF = pd.DataFrame(Summary_DF, index = ('Female', 'Male', 'Other / Non-Disclosed'))
Genders.join(Summary_DF, how="outer")

,Player Count,Percentage of Playerbase,Average Price,Number of Purchases,Total Revenue
Female,81,14.06,0,0,0
Male,484,84.03,0,0,0
Other / Non-Disclosed,11,1.91,0,0,0

In [6]:
##I Ran out of time, but I could made this more generic to work with most of the steps of this project##

def Purchasing_Analysis_Gender(gender):
    count_DF = purchase_data.loc[purchase_data['Gender'] == gender]
    Genders.loc[gender, 'Number of Purchases'] = count_DF['Item ID'].count()
    Genders.loc[gender, 'Average Price']  = round(count_DF["Price"].mean(), 2)
    Genders.loc[gender, 'Total Revenue'] = (count_DF["Price"].sum())

In [7]:
Purchasing_Analysis_Gender('Male')
Purchasing_Analysis_Gender('Female')
Purchasing_Analysis_Gender('Other / Non-Disclosed')
Genders.head()

,Player Count,Percentage of Playerbase,Number of Purchases,Average Price,Total Revenue
Male,484,84.03,652.0,3.02,1967.64
Female,81,14.06,113.0,3.20,361.94
Other / Non-Disclosed,11,1.91,15.0,3.35,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Establish bins for ages
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["0-10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
Age_Binned = pd.cut(purchase_data["Age"], bins, labels=group_names)
Age_binned = pd.DataFrame(Age_Binned)
purchase_data = purchase_data.set_index('Age')
purchase_data = purchase_data.join(Age_binned, on="Age", how="outer")

In [9]:

Ages = Age_Binned.value_counts()
percentage = round(Ages / Ages.sum() * 100,2)
Ages_DF = pd.concat([Ages ,percentage ], axis = 1)
Ages_DF.columns = ["Player Count", "Percentage of Playerbase"]
Summary_DF = {'Average Price': 0,"Number of Purchases": 0,
                            "Total Revenue": 0}
Summary_DF = pd.DataFrame(Summary_DF, index =group_names)
Ages_DF = Ages_DF.join(Summary_DF, how="outer")
purchase_data = purchase_data.rename(columns={'Age':'Age Group'})
purchase_data = purchase_data.rename(columns={'Age':'Age Group'})
purchase_data = purchase_data.dropna()

In [10]:
for Age_Group in group_names:
    age_grouped = purchase_data.loc[purchase_data['Age Group'] == Age_Group]
    Ages_DF.loc[Age_Group, 'Average Price'] = round(age_grouped["Price"].mean(), 2)
    Ages_DF.loc[Age_Group, 'Number of Purchases'] = age_grouped['Item ID'].count()
    Ages_DF.loc[Age_Group, 'Total Revenue'] = (age_grouped["Price"].sum())

Ages_DF.head()

,Player Count,Percentage of Playerbase,Average Price,Number of Purchases,Total Revenue
0-10,23,2.95,2.82,31,87.55
10-14,28,3.59,3.13,31,97.03
15-19,136,17.44,3.03,45,136.38
20-24,365,46.79,3.07,367,1126.04
25-29,101,12.95,3.08,59,181.90

In [11]:
purchase_data = pd.read_csv(file_to_load)
user_purchases = pd.DataFrame(purchase_data['SN'].value_counts())
user_purchases['SN'] = user_purchases.index


for SN in user_purchases['SN']:
    SN_Group = purchase_data.loc[purchase_data['SN'] == SN]
    user_purchases.loc[SN, 'Number of Purchases'] = SN_Group['Item ID'].count()
    user_purchases.loc[SN, 'Average Purchase Price'] = round(SN_Group["Price"].mean(), 2)
    user_purchases.loc[SN, 'Total Purchase Value'] = (SN_Group["Price"].sum())
    
user_purchases.sort_values(['Total Purchase Value'], ascending=False)
user_purchases.head()

,SN,Number of Purchases,Average Purchase Price,Total Purchase Value
Lisosia93,Lisosia93,5.0,3.79,18.96
Iral74,Iral74,4.0,3.40,13.62
Idastidru52,Idastidru52,4.0,3.86,15.45
Raesty92,Raesty92,3.0,2.91,8.73
Yathecal82,Yathecal82,3.0,2.07,6.22

In [12]:
Most_Popular_Items = purchase_data[['Item ID','Item Name', 'Price']]
Popular_Items_Count = Most_Popular_Items.groupby(['Item ID','Item Name']).count()
Popular_Items_Count['Occurences'] = pd.DataFrame(Popular_Items_Count)

for id in purchase_data['Item ID']:
    
    I_Group = purchase_data.loc[purchase_data['Item ID'] == id]
    Popular_Items_Count.loc[id, 'Total Purchase Value'] = (I_Group["Price"].sum())
    ## THIS WOULDNT SAVE WITHOUT THE .MEAN() INCLUDED??##
    Popular_Items_Count.loc[id, 'Price'] = round(I_Group["Price"].mean(), 2)
Popular_Items_Count= Popular_Items_Count.sort_values('Occurences', ascending=False)
Popular_Items_Count.head()

,,Price,Occurences,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
145,Fiery Glass Crusader,4.58,9,41.22
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
82,Nirvana,4.90,9,44.10
19,"Pursuit, Cudgel of Necromancy",1.02,8,8.16

In [13]:
Profitable_Items= Popular_Items_Count.sort_values('Total Purchase Value', ascending=False)
Profitable_Items.head()

,,Price,Occurences,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,Nirvana,4.90,9,44.10
145,Fiery Glass Crusader,4.58,9,41.22
92,Final Critic,4.88,8,39.04
103,Singed Scalpel,4.35,8,34.80